.index-page {
  .top-header {
    .inner {
      width     : 90%;
      margin    : 0 auto;
      padding   : 2em 0;
      max-width : 1200px;

      .logo-wrapper {
        display         : flex;
        align-items     : center;
        justify-content : flex-start;

        img {
          width         : 50px;
          border-radius : 8px;
          margin        : 0 1em 0 0;
        }

        h1 {
          margin                  : 0;
          padding                 : 0;
          font-size               : 1.5em;
          line-height             : 1;
          font-weight             : 500;
          background              : -webkit-linear-gradient(90deg, #036325, #009C37);
          -webkit-background-clip : text;
          -webkit-text-fill-color : transparent;
        }
      }
    }
  }

  .flag {
    width             : 100%;
    margin            : 0 auto;
    padding           : 2em 1em;
    position          : relative;
    overflow          : hidden;
    max-width         : 1200px;
    background        : url('/img/screen-0.jpg') scroll center center no-repeat;
    box-shadow        : rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border-radius     : 10px;
    background-size   : cover;

    h1 {
      color       : #fff;
      margin      : 0;
      z-index     : 1;
      padding     : 0;
      position    : relative;
      font-size   : 1.3em;
      line-height : 1.1;
    }

    .bg {
      width: 100%;
      height: 100%;
      background: rgba($color: #000000, $alpha: .4);
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .inner {
    margin      : 0 auto;
    width       : 90%;
    max-width   : 1200px;

    @media screen and(max-width: 1024px) {
      
    }

    .about {
      h1 {
        margin      : 0 0 .5em 0;
        padding     : 0;
        font-size   : 1.8em;
        line-height : 1.1;
        font-weight : 400;
      }
    }

    .socialism {
      background              : rgb(210,18,46);
      background              : linear-gradient(90deg, rgb(255, 14, 50) 0%, rgba(120,2,2,1) 100%);
      -webkit-background-clip : text;
      -webkit-text-fill-color : transparent;
    }

    .capitalism {
      background              : rgb(60, 185, 7);
      background              : linear-gradient(90deg, rgb(81, 209, 26) 0%, rgb(2, 110, 13) 100%);
      -webkit-background-clip : text;
      -webkit-text-fill-color : transparent;
    }

    .content-1 {
      .head {
        margin  : 2em 0 0 0;

        h2 {
          margin      : 0;
          padding     : 0;
          font-size   : 2em;
          line-height : 1.1;
          font-weight : 400;
        }
      }

      .list-companies {
        .logo {
          border: 1px #ddd solid;
        }

        .symbol {
          width: 20px;
          height: 20px;
          border-radius: 50% 50%;
        }
      }
    }
  }

  
}
